/* General common rules */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    /* Aux border */
    /* border: 0.1px solid pink; */
}

body {
    font-size: 14px;
    font-family: 'open sans';
    color: #54585a;
}
/* HEADER */
    .main-title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        font-family: 'Rubik', sans-serif;
    }

    .main-header{  
        height: 421px;
        background: url("../images/team.jpg") center center no-repeat;
        /* blurry image, need to be cropped etc still to work well */
        /* background: url("../images/team_blur.jpg") center center no-repeat; */
        background-size: cover;
        position: relative;
    }

    .header-container{
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-header-container{
        background-color: rgba(9, 157, 141,0.95);
        height: 60px;
    }

    .main-menu{
        height: 45px;
        background-color: rgba(19, 214, 195, 0.95);
        
    }
    .group-claim-container{
        height:80px;
        background-color: #fff;

    }

    .claim-container{
        width: 100%;
        background-color: transparent;
        padding: 0 15px 0 15px;
        position: absolute;
        bottom:-40px;
    }

    .group-claim{
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;
        color: #000;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
    }

    .header-item{
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        font-family: 'Rubik', sans-serif;
    }


/* MAIN */
    .padding-section {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-top: 50px;
    }

    .bgcolor {
        background-color: rgba(184,184,185,0.2);
    }

    .title-section { 
        color: aqua;
        text-align: center;
        text-transform: uppercase;
        font-family: "rubik",sans-serif;
        }

    .description{
        text-align: center;
    }

    .title-list-description {
        color: #099d8d;

        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description-team {
        list-style-type: none;
        text-align: center;

        padding-left: 0px;
        padding-bottom: 15px; 
    }

    .title-type {
        font-family: "rubik",sans-serif;
    }

    #weakness {
        margin-top: 30px;
    }

    .triangle {
        margin: auto;
        width: 30px;
        height: 30px;

        background-color: #ffffff;
        z-index: 10;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -15px) rotate(45deg);
    }


/* FOOTER */
    .main_footer {
        text-align: center;
        padding: 30px;
        /* Top grey line separating the footer from the rest of the website */  
        border-top: 1px solid #b8b8b9;
    }

    .main_footer_copyright {
        margin-top: 100px;
        color: #b8b8b9;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
    }

    .main_footer_menu {
        padding-top: 20px;
        padding-bottom: 30px;
        color: #54585a;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 14px;
        /* font-size: 1rem; */
        opacity: 0.75;
        text-transform: uppercase;
    }

    .main_footer_container {
        list-style: none;
    }

    .main_footer_logo {
        width: 115.9px;
        /* Centering the div conteining the image */
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #main_footer_adalab_logo {
        width: 100%;
    }