<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik">
    <title>ada: inherit;</title>
</head>

<body>

<!-- HEADER -->
    <header class="main-header">
        <div class="main-header-container">
            <h1 class="main-title">ada: inherit;</h1>
        </div>
        <nav class="main-menu">
            <ul class="header-container">
                <li class="header-item">TEAM</li>
                <li class="header-item">ABOUT US</li>
                <li class="header-item">CONTACT</li>
            </ul>
        </nav>
        <div class="claim-container">
        <div class="group-claim-container">
        <h2 class="group-claim">Don't panic. Try hard to have fun</h2>
    </div>
        </div>
    </header>



<!-- MAIN -->
<section> <!--EQUIPO-->
    <div class="padding-section">
    <h2 class="title-type title-section">team</h2>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iure deserunt recusandae minima, suscipit
        est error libero tempore ipsam vel autem sint deleniti corporis ratione aspernatur, fugit minus quo
        quaerat.</p>
    </div>

    <div class="triangle">
    </div>

    <div class="padding-section bgcolor">
        <ul class="description-team">
            <li>
                <h3 class="title-type title-list-description">Strengths</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio accusantium aliquid placeat neque
                esse animi nisi deleniti, temporibus voluptates possimus. Earum sunt ea ullam aut doloremque
                adipisci nam officia voluptatibus?</p>
            </li>

            <li>
                <h3 class="title-type title-list-description" id="weakness">Weaknesses</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis     tenetur ipsa fugit ut, modi
                distinctio cupiditate, eligendi nam possimus architecto consequatur magnam ex recusandae
                accusantium ea est, nihil et temporibus.</p>
            </li>
        </ul>

    </div>

</section>



<!-- FOOTER -->
    <footer class="main_footer">

        <small class="main_footer_copyright"> Nombre del grupo ©2019</small>

        <nav class="main_footer_menu">
            <ul class="main_footer_container">
                <li class="main_footer_element">Equipo</li>
                <li class="main_footer_element">Quiénes somos</li>
                <li class="main_footer_element">Contacto</li>
            </ul>
        </nav>
        
        <div class="main_footer_logo">
            <img id="main_footer_adalab_logo" src="/assets/images/adalab.png">
        </div>

    </footer>

</body>
</html>