<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans::400,600">
    <title>project_footer</title>
</head>
<body>
<!-- HEADER -->

<!-- MAIN -->

<!-- FOOTER -->
    <footer class="main_footer">

        <small class="main_footer_copyright"> Nombre del grupo ©2019</small>

        <nav class="main_footer_menu">
            <ul class="main_footer_container">
                <li class="main_footer_element">Equipo</li>
                <li class="main_footer_element">Quiénes somos</li>
                <li class="main_footer_element">Contacto</li>
            </ul>
        </nav>
        
        <div class="main_footer_logo">
            <img id="main_footer_adalab_logo" src="/assets/images/adalab.png">
        </div>

    </footer>

</body>
</html>