<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>ada: inherit;</title>
</head>

<body>

<!-- HEADER -->
    <header class="main-header">
        <div class="main-title-container">
            <h1 class="main-title">ada: inherit;</h1>
        </div>
        
        <nav class="main-menu">
            <ul class="main-menu-list">
            <a href="#team"> <li class="main-menu-item">TEAM</li></a>
            <a href="#title-us"><li class="main-menu-item">ABOUT US</li></a>
           <li class="main-menu-item">CONTACT</li>
            </ul>
        </nav>
        <div class="main-claim-big-container">
        <div class="main-claim-container">
        <h2 class="main-claim">Don't panic. Try hard to have fun</h2>
    </div>
        </div>
    </header>


<!-- MAIN -->
    <section> <!--EQUIPO-->
        <div class="padding-section">
        <h2  class="title-type title-section" id="team">team</h2>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iure deserunt recusandae minima, suscipit
            est error libero tempore ipsam vel autem sint deleniti corporis ratione aspernatur, fugit minus quo
            quaerat.</p>
        </div>

        <div class="triangle">
        </div>

        <div class="padding-section bgcolor">
            <ul class="description-team">
                <li>
                    <h3 class="title-type title-list-description">Strengths</h3>
                    <p>We laugh a lot, so it's great to work with us (If you want to become part of our crazy team there's a form coming soon).</p>

                    <p>We work hard, after the mandatory panic stop of course.</p>

                    <p>We learn fast (or at least we think so, you'll have to confirm with Nasiba about this statement).</p>

                    <p>We are very optimistic, especially about due dates.</p>
                </li>

                <li>
                    <h3 class="title-type title-list-description" id="weakness">Weaknesses</h3>
                    <p>We panic a lot.</p>

                    <p>Apparently, we don't listen well enough (we found out two labour days before the due date of the project that we also had to do the tablet version, not only the mobile one). 
                    </p>

                    <p>It's very hard to take a serious picture of us because we really don't like pictures (that's a general feeling). 
                    </p>
                </li>
            </ul>

        </div>

    </section>

    <section class="padding-section description"> <!--QUIENES SOMOS-->
        <h2 class="title-type title-section" id="title-us"> about us 

        </h2>
        <div class="names">
                <div class="profile-photo">
                        <img src="./assets/images/img-annia.gif" alt="Annia da Costa">
    
                    </div>

            <h3 class="title-names">Annia da Costa</h3>

           

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, aliquam vitae perspiciatis debitis
                accusamus voluptas totam, repellat error optio quae voluptatibus sequi nihil, dolor consequuntur rem
                itaque voluptatem sed quaerat.</p>

                <div class="social-media">
                    <ul class="social-media-container">
                        <li class="social-media-item twitter">
                            <a class="media-link" href="https://twitter.com/search?q=%40anva1011&src=typd" title="@anva1011"
                                target="_blank"><i class="fab fa-twitter"></i></li>

                        <div class="dot"></div>

                        <li class="social-media-item linkedin">
                            <a class="media-link" href="https://www.linkedin.com/in/annia-da-costa-a9019b66/" title="Annia da Costa"
                                target="_blank"><i class="fab fa-linkedin-in"></i></a></li>

                        <div class="dot"></div>

                        <li class="social-media-item github">
                            <a class="media-link" href="https://github.com/anniavdc" title="anniavdc" target="_blank"><i
                                    class="fab fa-github-alt"></i></a></li>

                        <div class="dot"></div>

                        <li class="social-media-item mail">
                            <a class="media-link" href="mailto:anva1189@gmail.com" title="Send an e-mail"><i class=" fas
                                fa-envelope"></i></a></li>
                    </ul>
                    </div>

        </div>

        <div>

                <div class="profile-photo">
                        <img src="./assets/images/img-saray.gif" alt="Saray Fernández">
    
                    </div>
            <h3 class="title-names">Saray Fernández</h3>

            
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, aliquam vitae perspiciatis debitis
                accusamus voluptas totam, repellat error optio quae voluptatibus sequi nihil, dolor consequuntur rem
                itaque voluptatem sed quaerat.</p>

                <div class="social-media">
                    <ul class="social-media-container">
                        <li class="social-media-item twitter">
                            <a class="media-link" href="https://twitter.com/FdzSaray" title="@SarayFdz" target="_blank"><i
                                    class="fab fa-twitter"></i></a></li>

                        <div class="dot"></div>

                        <li class="social-media-item linkedin">
                            <a class="media-link" href="https://www.linkedin.com/in/sarayfdz-garcia/" title="Saray Fernández García"
                                target="_blank"><i class="fab fa-linkedin-in"></i></a></li>

                        <div class="dot"></div>

                        <li class="social-media-item github">
                            <a class="media-link" href="https://github.com/sarayfg" title="sarayfg" target="_blank"><i
                                    class="fab fa-github-alt"></i></a></li>
                        <div class="dot"></div>

                        <li class="social-media-item mail">
                            <a class="media-link" href="mailto:sarayfernandezgarcia@gmail.com" title="Send an e-mail" target="_blank">
                                <i class="fas fa-envelope"></i></a></li>
                    </ul>
                    </div>

        </div>

        <div>


                <div class="profile-photo">
                        <img src="./assets/images/img-elvira.gif" alt="Elvira Fuente">
    
                    </div>

            <h3 class="title-names">Elvira Fuente</h3>

            
                        
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, aliquam vitae perspiciatis debitis
                accusamus voluptas totam, repellat error optio quae voluptatibus sequi nihil, dolor consequuntur rem
                itaque voluptatem sed quaerat.</p>

                <div class="social-media">
                    <ul class="social-media-container">
                        
                            <li class="social-media-item twitter">
                                <a class="media-link" href="https://twitter.com/ElviraFuente" title="@ElviraFuente" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <div class="dot"></div>

                       <li class="social-media-item linkedin">
                           <a class="media-link" href="https://www.linkedin.com/in/elvira-fuente-romero-414b07181/" title="Elvira Fuente Romero" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <div class="dot"></div>
                        <li class="social-media-item github">
                            <a class="media-link" href="https://github.com/hebebicho" title="hebebicho" target="_blank"><i class="fab fa-github-alt"></i></a></li>
                        <div class="dot"></div>
                        
                        <li class="social-media-item mail">
                            <a class="media-link" href="mailto:elvirafuente@gmail.com" title="Send an e-mail"></a><i class="fas fa-envelope"></i></li>
                    </ul>
                    </div>

        </div>

        <div>

                <div class="profile-photo">
                        <img src="./assets/images/img-irene.gif" alt="Irene Fuente">
    
                    </div>

            <h5 class="title-names">Irene Fuente</h5>

          
                
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, aliquam vitae perspiciatis debitis
                accusamus voluptas totam, repellat error optio quae voluptatibus sequi nihil, dolor consequuntur rem
                itaque voluptatem sed quaerat.</p>

                <div class="social-media">
                    <ul class="social-media-container">
                        <li class="social-media-item twitter">
                            <a class="media-link" href="https://twitter.com/ifuenteromero" title="@ifuenteromero" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <div class="dot"></div>
                        <li class="social-media-item linkedin"><i class="fab fa-linkedin-in"></i></li>
                        <div class="dot"></div>
                        <li class="social-media-item github"><i class="fab fa-github-alt"></i></li>
                        <div class="dot"></div>
                        <li class="social-media-item mail">
                            <a class="media-link" href="mailto:ifuenteromero@gmail.com" title="Send an e-mail"></a><i class="fas fa-envelope"></i></li>
                    </ul>
                    </div>

        </div>

        <div>

                <div class="profile-photo">
                        <img src="./assets/images/img-carmen.gif" alt="Carmen Torrecillas">
    
                    </div>

            <h3 class="title-names">Carmen Torrecillas</h3>

            
                
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, aliquam vitae perspiciatis debitis
                accusamus voluptas totam, repellat error optio quae voluptatibus sequi nihil, dolor consequuntur rem
                itaque voluptatem sed quaerat.</p>

                <div class="social-media">
                        <ul class="social-media-container">
                            <li class="social-media-item twitter">
                                <a class="media-link" href="https://twitter.com/carmen_TM_" title="@carmen_TM_" target="_blank"></a><i
                                    class="fab fa-twitter"></i></li>
                            <div class="dot"></div>
                            <li class="social-media-item linkedin">
                                <a class="media-link" href="https://www.linkedin.com/in/carmen-torrecillas-molina-17987471/"
                                    title="Carmen Torrecillas Molina" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <div class="dot"></div>
                            <li class="social-media-item github">
                                <a class="media-link" href="https://github.com/carmen-tm" title="carmentm" target="_blank"><i
                                        class="fab fa-github-alt"></i></a></li>
                            <div class="dot"></div>
                            <li class="social-media-item mail">
                                <a class="media-link" href="mailto:carmentorremolina@gmail.com" title="Send an e-mail"><i
                                        class="fas fa-envelope"></i></a></li>
                        </ul>
                    </div>

        </div>




    </section>

<!-- FOOTER -->
    <footer class="main-footer">

        <small class="main-footer-copyright"> ada: inherit; ©2019</small>

        <nav class="main-footer-menu">
            <ul class="main-footer-menu-list">
                <a href="#team"> <li class="main-footer-menu-item">Equipo</li></a>
                <a href="#title-us"><li class="main-footer-menu-item">Quiénes somos</li></a>
                <li class="main-footer-menu-item">Contacto</li>
            </ul>
        </nav>
        
        <div class="main-footer-logo-container">
          <a href="https://adalab.es/" target="_blank">  <img id="main-footer-logo" src="/assets/images/adalab.png"> </a>
        </div>

    </footer>

</body>
</html>